
.icon-user:before { content: '\e800'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
