
.icon-linkedin-circled:before { content: '\e800'; } /* '' */
.icon-mail-circled:before { content: '\e801'; } /* '' */
.icon-website-circled:before { content: '\e802'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
